@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 24, 24, 24;
}

html, body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Hide scrollbar utility */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
} 